/node_modules
/dist
/coverage
/.env
/data/raw/parque_vehiculos_202503.txt
/data/processed/pool*
/.venv
# Python cache
__pycache__/
*.py[cod]
*$py.class
/results
/src/__pycache__/*.pyc
/src/__pycache__/*.pyo
/src/__pycache__/*.pyd
/src/*.pyc
/src/*.pyo
/src/*.pyd
/results/plots/*
/results/reports
/results/tables